<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DomainsLogging_MongoDB" value="mongodb://localhost:27017/ApplicationLogs" />
    <add key="Environment" value="test" />
    <add key="Version" value="0.00" />
    <add key="MongoConnection" value="mongodb://localhost:27017" />
    <add key="EventStore_MongoDataBase" value="EventStore" />
    <add key="ToolName" value="Reprocessor" />
    <add key="HostNameQueue" value="rmq01.test.nutsservices.local" />
    <add key="PortQueue" value="5672" />
    <add key="UserQueue" value="app_messagingreprocessor" />
    <add key="PasswordQueue" value="I840TWBzHXKcMcwW6Blw" />
  </appSettings>
</configuration>